.project-list-header .newNoteHeader{
    margin: 25px 0 25px;
}

.center{
    text-align: center;
    margin: 25px 0 25px;
}

.alert{
    color: red; 
}

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
}
.popup-arrow {
    color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
    background: transparent;
}

.margin-bottom-and-top-20px{
    margin-bottom: 20px;
    margin-top: 20px;
}

.margin-left-5px{
    margin-left: 10px;
}

.margin-bottom-5px{
    margin-bottom: 5px;
}